.header{
  
     .ant-layout-header{
      padding: 0 20px!important;
     }
    .ant-menu-item-selected{
        color: #000!important;
    }
    .ant-menu-title-content{
      border-color: #8DD3BB!important;
    }
    
  .login-btn{
    background: transparent;
    color: var(--black-green);
    font-weight: 600;
}   
.sign-btn{
    color: #fff;
    background: #112211;
}
}
  .ant-popover {
    &-arrow{
      display: none!important;
    }
  }