.fly {
    &-title {
      font-family: "Montserrat";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: #121;
    }
      .ant-btn-default {
        background: #8dd3bb !important;
        border-color: #8dd3bb !important;
        border-radius: 4px !important;
    }
  }