.footer{
   &-top-content{
    h2,h4{
        font-family: "TradeGothic LT Extended";
    }
   p{
    font-family: "Montserrat";
   }
    .ant-btn{
        span{
            color: #fff;
            font-family: "Montserrat";
            font-weight: 600;
            font-size: 14px;
        }
    }
   }
   
}
