html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  color: #121;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #121;
}

.myContainer{
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}
// ANT Styles
.ant-checkbox-checked {
  .ant-checkbox-inner {
    background: #8dd3bb!important;
  }
}
.ant-checkbox{
  .ant-checkbox-inner{
    border-color: #8dd3bb!important;
  }
}

.ant-radio-checked {
  &::after{
    border-color: #8DD3BB!important;
  }
  .ant-radio-inner{
    background: #8DD3BB!important;
    &:hover{
      border-color: #8DD3BB!important;
    }
   
  }
}
.ant-radio-inner{
  border-color: #8DD3BB!important;
}
// fonts
.font-TradeGothic{
  font-family: "TradeGothic LT Extended";
}
.font-Montserrat{
  font-family: "Montserrat";
}

.mygreen-color{
  color: #8DD3BB;
}
.mygreen-bgColor{
  background: #8DD3BB;
}
.myred-color{
  color:#FF8682;
}
.ant-btn{
  border-radius: 4px!important;
}
.main-btn{
  background: #8DD3BB!important;
  color: #000!important;
  border-color: #8DD3BB!important;
  font-family: "Montserrat"!important;
}
body{
  background: #FAFBFC;

}
// .ant-picker-active-bar{
//   background: #8DD3BB!important;
// }
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: #1C1B1F;
    background: #FAFBFC;
  }
}
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';